* {
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  z-index: 1;
}

:root {
  --gray100: #f6f6fe;
  --gray300: #b3b5c6;
  --gray500: #6d708d;
  --gray700: #494c5f;
  --blue100: #a3a8f0;
  --blue300: #696fdd;
  --gradient: linear-gradient(var(--blue100), var(--blue300));
  --transition-duration: 0.25s;
}

body {
  font-size: 15px;
  color: var(--gray500);
}

#component-wrapper,
#plan-card-wrapper,
.plan-card,
.plan-card-inner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#component-wrapper {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--gray100);
  padding: 71px 24px;
  overflow: hidden;
}

img {
  position: absolute;
  z-index: 0;
}

#bg-top {
  top: -35px;
  right: -196px;
}

h2 {
  font-size: 32px;
}

#pricing-slider-group-wrapper {
  display: flex;
  align-items: center;
  margin: 40px 0 80px 0;
}

label {
  color: var(--gray300);
}

#pricing-slider-wrapper {
  position: relative;
  margin: 0 24px;
  height: 32px;
  width: 56px;
}

input[type="checkbox"] {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
  opacity: 0;
}

input[type="checkbox"]:checked + #custom-pricing-slider:before {
  transform: translateX(100%);
}

#custom-pricing-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 16px;
  background: var(--gradient);
}

#custom-pricing-slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  margin: 4px;
  border-radius: 34px;
  background-color: white;
  -webkit-transition: var(--transition-duration);
  transition: var(--transition-duration);
}

#plan-card-wrapper {
  width: 100%;
  gap: 33px;
}
.plan-card {
  height: 453px;
  border-radius: 10px;
  background-color: white;
  width: 327px;
  padding: 31px 29px;
  justify-content: center;
}

.plan-card-inner-wrapper {
  height: 100%;
  max-height: 391px;
  max-width: 350px;
  width: 100%;
  justify-content: space-between;
}

.plan-name {
  font-size: 18px;
}

.dollar-sign {
  font-size: 40px;
  margin-right: 7px;
}

.plan-price {
  display: flex;
  align-items: center;
  color: var(--gray700);
  font-size: 72px;
  letter-spacing: -2.16px;
  line-height: 0.8;
}

.plan-feature-list {
  width: 100%;
}

.plan-feature {
  border-top: 1px solid var(--gray300);
  padding: 21px;
  font-size: 15px;
  text-align: center;
}

.plan-feature:last-child {
  border-bottom: 1px solid var(--gray300);
}

.cta {
  width: 100%;
  height: 44px;
  border: none;
  box-shadow: 0 0 0 2px transparent inset;
  border-radius: 6px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1.39px;
  transition: all var(--transition-duration);
}

.plan-card#professional,
.cta {
  color: white;
  background: var(--gradient);
}

.plan-card#professional .plan-price {
  color: white;
}

.plan-card#professional .cta {
  color: var(--blue300);
  background: white;
}

#bg-bottom {
  visibility: hidden;
}

/* Hover states */

.cta:hover {
  color: var(--blue300);
  box-shadow: 0 0 0 2px var(--blue300) inset;
  background: white;
}

.plan-card#professional .cta:hover {
  color: white;
  box-shadow: 0 0 0 2px white inset;
  background: transparent;
}

/* Responsive styles */

@media (min-width: 1060px) {
  #plan-card-wrapper {
    flex-direction: row;
    justify-content: center;
    gap: unset;
  }

  .plan-card {
    max-width: 350px;
  }

  .plan-card:first-child {
    border-radius: 10px 0 0 10px;
  }

  .plan-card#professional {
    height: 501px;
  }

  .plan-card:last-child {
    border-radius: 0 10px 10px 0;
  }
}
